<h1>Hello to MeowTown!</h1>
<ul>{{#each cats}}
  <li>Name: {{name}} - ID: {{id}}</li>
  {{/each}}
</ul>
<button id="submit">Show All</button>

<br>
<br>

<label>Enter ID</label>
<input></input>
<button id='getCat'>Get Cat</button>
